<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.groupfourtwo.bluetoothsensorapp">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".visualization.BrightnessActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ClearDataActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".visualization.HumidityActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".bluetooth.BluetoothMainActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ManageSensorsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".visualization.PressureActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".visualization.TemperatureActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".visualization.RecordsActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBarOwn" />
        <activity
            android:name=".visualization.TimespanActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBarOwn" />
        <activity
            android:name=".visualization.SensorSettingsActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBarOwn" />
        <activity
            android:name=".bluetooth.ControlActivity"
            android:parentActivityName=".bluetooth.BluetoothMainActivity" />
        <activity
            android:name=".StorageActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AboutActivity"
            android:label="About"
            android:parentActivityName=".MainActivity" />

        <service
            android:name=".bluetooth.BluetoothLeService"
            android:enabled="true" />
        <service
            android:name=".bluetooth.DatabaseUpdateService"
            android:enabled="true" />

    </application>

</manifest>